<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html'); %>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Section Header Default-->
      <%- include('../partials/header.html'); %>
     
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">404</li>
          </ul>
          <h3 class="breadcrumbs-custom-title">404</h3>
        </div>
      </section>
      <!-- 404-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-md-10 col-lg-6">
              <div class="inset-lg-right-30">
                <h6>VOCÊ PODE TER MODIFICADO O ENDEREÇO<br class="d-none d-lg-block"> OU A PÁGINA PODE TER SE MUDADO
                </h6>
                <h3>Desculpe, mas a página não foi encontrada</h3>
                <p>Tincidunt elit magnis nulla facilisis sagittis maecenas. Sapien nunced amet ultrices dolores sit ipsum velit purus aliquet, massa fringilla leo orci. Lorem ipsum dolors sit amet elit magnis amet ultrices purusrfed aliquet. There are many variations of passages of available but the majority have suffered.</p>
                <div class="group"><a class="button button-secondary box-with-triangle-right" href="/" data-triangle=".button-overlay"><span>vá para a página inicial</span><span class="button-overlay"></span></a><a class="button button-primary" href="/contacts" data-triangle=".button-overlay"><span>Contactos</span><span class="button-overlay"></span></a></div>
              </div>
            </div>
            <div class="col-md-10 col-lg-6">
              <div class="img-separated"><img src="images/about-01-562x588.jpg" alt="" width="562" height="588"/>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section Pre Footer-->
      <%- include('../partials/footer.html'); %>
     
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>