<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fikani- publicar noticias</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.3/css/themes/bootstrap.css" integrity="sha512-hjKD/+g/2H0XQkec8ud4NcGfPG+pTVea7eXtSncjm7pLOkW0MOPHbLUv9ibOlhCIx2DpYg9OYBVlz7NTR2/zhA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row Restoracao, Reserva, parques nacionais -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Publicar informação</h1>
                                    </div>
                                    <form class="user" id="upload" action="add-info"  method="POST"  enctype="multipart/form-data">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input type="file" name="file" required class="custom-file-input form-control form-control-user" id="file" aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="file">Selecionar foto</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="name" name="author" id="author" required class="form-control" placeholder="Autor">
                                        </div>


                                        <div class="form-group">
                                            <input type="name" name="title" id="title" required class="form-control" placeholder="Digite o titulo...">
                                        </div>

                                        <div class="form-group">
                                            <!-- <label for="exampleFormControlTextarea1">Descrição</label>
                                            <textarea class="editable form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                                             <textarea class="editable medium-editor-textarea" rows="5" name="description">&lt;p&gt; Escreva a noticia aqui &lt;/p&gt;</textarea>
                                          </div>
                                       
                                        <input type="submit" class="btn btn-primary btn-block" value="Publicar">                                    
                                       
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/">Voltar</a>
                                    </div>
                                    <!-- <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>

    <script>
    var editor = new MediumEditor('.editable', {
        buttonLabels: 'fontawesome'
    });
    </script>
    
</body>

</html>