<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html') %>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
      <!-- Section Header Default-->
      <%- include('../partials/header.html' , {currentMenu: 'buyers'}) %>
        
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Buyers</li>
          </ul>

        </div>
      </section>
      <!-- Section Senior Speakers-->
   
      <!-- Section All other speakers-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h4 class="font-weight-bold">Buyers</h4>
          <div class="row row-30">
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img"><a href="#"><img src="images/speaker-01-270x303.jpg" alt="" width="270" height="303"/></a>
                  <ul class="speaker-classic-social-list">
                    <li><a class="icon icon-xs fa-facebook-f" href="#"></a></li>
                    <li><a class="icon icon-xs fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xs fa-youtube-play" href="#"></a></li>
                  </ul>
                </div>
                <h5 class="speaker-classic-title"><a href="#">Jesscia brown</a></h5>
                <p class="speaker-classic-position">Co Founder</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img"><a href="#"><img src="images/speaker-02-270x303.jpg" alt="" width="270" height="303"/></a>
                  <ul class="speaker-classic-social-list">
                    <li><a class="icon icon-xs fa-facebook-f" href="#"></a></li>
                    <li><a class="icon icon-xs fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xs fa-youtube-play" href="#"></a></li>
                  </ul>
                </div>
                <h5 class="speaker-classic-title"><a href="#">Mike hardons</a></h5>
                <p class="speaker-classic-position">Lead Developer</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img"><a href="#"><img src="images/speaker-05-270x303.jpg" alt="" width="270" height="303"/></a>
                  <ul class="speaker-classic-social-list">
                    <li><a class="icon icon-xs fa-facebook-f" href="#"></a></li>
                    <li><a class="icon icon-xs fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xs fa-youtube-play" href="#"></a></li>
                  </ul>
                </div>
                <h5 class="speaker-classic-title"><a href="#">John Smith</a></h5>
                <p class="speaker-classic-position">Assistant</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img"><a href="#"><img src="images/speaker-06-270x303.jpg" alt="" width="270" height="303"/></a>
                  <ul class="speaker-classic-social-list">
                    <li><a class="icon icon-xs fa-facebook-f" href="#"></a></li>
                    <li><a class="icon icon-xs fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xs fa-youtube-play" href="#"></a></li>
                  </ul>
                </div>
                <h5 class="speaker-classic-title"><a href="#">Sarah Rose</a></h5>
                <p class="speaker-classic-position">Designer</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section Pre Footer-->
      <%- include('../partials/footer.html') %>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>