<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html'); %>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     <!-- Section Header Default-->
     <%- include('../partials/header.html'); %>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Contactos</li>
          </ul>
          <h3 class="breadcrumbs-custom-title">Contactos</h3>
        </div>
      </section>
      <!--Google Map-->
      <section class="section">
        <!--Please, add the data attribute data-key='YOUR_API_KEY' in order to insert your own API key for the Google map.-->
        <!--Please note that YOUR_API_KEY should replaced with your key.-->
        <!--Example: <div class='google-map-container' data-key='YOUR_API_KEY'>-->
        <div class="google-map-container" data-center="Central Park, New York, US" data-key="AIzaSyBUPsDPtyZG7EPBB2XDN55Rxt_fYUoc4Ak" data-zoom="15" data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png" data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]'>
          <div class="google-map"></div>
          <ul class="google-map-markers">
            <li data-location="Central Park, New York, US" data-description="Central Park, New York, US"></li>
          </ul>
        </div>
      </section>
      <!--Mailform-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-xs-10 col-sm-9 col-md-6 col-lg-7 col-xl-8">
              <h6>ENTRE EM CONTATO CONOSCO</h6>
              <h3>Tem pergunta? Escreva uma<br class="d-none d-xs-block"> mensagem.
              </h3>
              <!--RD Mailform-->
              <form class="rd-mailform rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-10 row-narrow-xs">
                  <div class="col-lg-6">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-name">Seu nome</label>
                      <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-email">Email</label>
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-message">Escrever mensagem</label>
                      <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-button">
                      <button class="button button-lg button-primary" type="submit" data-triangle=".button-overlay"><span class="button-overlay"></span><span>Enviar Mensagem</span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 col-xl-4">
              <div class="block-address">
                <div class="block-address-item">
                  <h5 class="block-address-title">Endereço</h5>
                  <p class="block-address-text">Av. Albert Lithuli, nr 300, R/c <br class="d-none d-xs-block"> Cidade de Maputo,Moçambique 
                  </p>
                </div>
                <div class="block-address-item">
                  <h5 class="block-address-title">Telefone</h5>
                  <p class="block-address-text"><span>Tel:</span> <a href="tel:+258 21 320 959">+258 21 320 959</a> 
                  </p>
                  <br>
                </div>
                <div class="block-address-item">
                  <h5 class="block-address-title">Email</h5>
                  <p class="block-address-text"><a href="mailto:comercial@fikani.gov.mz">comercial@fikani.gov.mz</a><br><a href="mailto:#">comercial@fikani.gov.mz</a></p>
                </div>
                <div class="block-address-item">
                  <h5 class="block-address-title">Redes socias</h5>
                  <ul class="list-inline list-inline-xs">
                    <li><a class="icon icon-rect icon-xs icon-white fa-facebook" href="#" data-triangle=".icon-rect-overlay">
                        <div class="icon-rect-overlay"></div></a></li>
                    <li><a class="icon icon-rect icon-xs icon-white fa-twitter" href="#" data-triangle=".icon-rect-overlay">
                        <div class="icon-rect-overlay"></div></a></li>
                    <li><a class="icon icon-rect icon-xs icon-white fa-linkedin" href="#" data-triangle=".icon-rect-overlay">
                        <div class="icon-rect-overlay"></div></a></li>
                    <li><a class="icon icon-rect icon-xs icon-white fa-youtube-play" href="#" data-triangle=".icon-rect-overlay">
                        <div class="icon-rect-overlay"></div></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     <!-- Section Pre Footer-->
    <%- include('../partials/footer.html'); %>
     
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>