<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html'); %> 
  </head>
  <body>

    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
      <!-- Section Header Default-->
      <%- include('../partials/header.html'); %>
     
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li><a href="/confer">Feira</a></li>
            <li><a href="/exhibitor">Expositores</a></li>
            <li class="active"> <%= data.name %></li>
          </ul>
          <h3 class="breadcrumbs-custom-title"> <%= data.name %> </h3>
        </div>
      </section>
      <!-- Section Our News-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-7 col-xl-8">
              <article class="post-single">
                <div class="post-single-img">

                <iframe width="770" height="472" src="https://www.youtube.com/embed/CXFVbxt_8M4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>

                </div>
                <!-- <ul class="post-single-meta">
                  <li class="post-single-meta-author"><span>visitas</span> <a href="#">30</a>
                  </li>
                  <li class="post-single-meta-date">
                    <time datetime="2019-01-16">16 Jan, 2021</time>
                  </li>
                  <li class="post-single-meta-comments"><span>2 Comentarios</span></li>
                </ul> -->
                <h3 class="post-single-title"> <%= data.name %> </h3>
                <p class="post-single-text" style="white-space: pre-line"> <%= data.description %> </p>


                <p class="post-single-quote heading-4"> "Visita ao <%=data.name %>  a recordar por toda a vida.
                  Experiência única contactando a natureza de uma forma inesquecível e inigualável" </p>
              
<!--               
                <p class="post-single-quote heading-4">“Visita ao Parque Nacional da Gorongosa a recordar por toda a vida.
                    Experiência única contactando a natureza de uma forma inesquecível e inigualável.”</p>
                <p class="post-single-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                 -->
                <div class="post-single-social">
                  <div class="row row-20 align-items-center">
                    <div class="col-sm-6">
                      <dl class="post-single-terms">
                        <dt>Tags:</dt>
                        <dd><a href="#">Feira</a> <span>,</span> <a href="#">Turismo</a> <span>,</span> <a href="#">Promoção turística</a>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                      <ul class="list-inline list-inline-xs">
                        <li><a class="icon icon-rect icon-xs icon-white fa-facebook" href="#" data-triangle=".icon-rect-overlay">
                            <div class="icon-rect-overlay"></div></a></li>
                        <li><a class="icon icon-rect icon-xs icon-white fa-twitter" href="#" data-triangle=".icon-rect-overlay">
                            <div class="icon-rect-overlay"></div></a></li>
                        <li><a class="icon icon-rect icon-xs icon-white fa-linkedin" href="#" data-triangle=".icon-rect-overlay">
                            <div class="icon-rect-overlay"></div></a></li>
                        <li><a class="icon icon-rect icon-xs icon-white fa-youtube-play" href="#" data-triangle=".icon-rect-overlay">
                            <div class="icon-rect-overlay"></div></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            
                
            </div>

            
            <div class="col-lg-5 col-xl-4">
              <div class="row row-30">
                <div class="col-lg-12">  
                  <a class="button button-icon button-icon-right button-primary col-lg-12" data-triangle=".button-overlay"  href="/schedule-chat?id=<%= data.uid %>" role="button">  <span class="icon fa-wechat"></span>  Agendar chat<span class="button-overlay"></span>  </a>
                </div>
                
                <div class="col-sm-7 col-md-6 col-lg-12">
                  <div class="post-aside">
                    <h5 class="post-aside-title"> Navegar </h5>
                    <div class="post-aside-content">
                      <div class="post-mini">
                        <div class="unit">
                          <div class="unit-left"><img src="images/single-news-05-59x59.jpg" alt="" width="59" height="59"/>
                          </div>
                          <div class="unit-body">
                            <p class="post-mini-author"><a href="#">Localização</a>
                            </p>
                            <p class="post-mini-title"><a href="#"> <%= data.location %></a></p>
                          </div>
                        </div>
                      </div>
                      <div class="post-mini">
                        <div class="unit">
                          <div class="unit-left"><img src="images/single-news-06-59x59.jpg" alt="" width="59" height="59"/>
                          </div>
                          <div class="unit-body">
                            <p class="post-mini-author"><a href="#">Contacto</a>
                            </p>
                            <p class="post-mini-title"><a href="#"> <%= data.contact %> </a></p>
                          </div>
                        </div>
                      </div>
                      <div class="post-mini">
                        <div class="unit">
                          <div class="unit-left"><img src="images/single-news-07-59x59.jpg" alt="" width="59" height="59"/>
                          </div>
                          <div class="unit-body">
                            <p class="post-mini-author"><a href="#gallery">Galeria</a>
                            </p>
                            <p class="post-mini-title"><a href="#gallery">Veja algumas fotos do/a <%= data.name %></a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-5 col-md-6 col-lg-12">
                      <img src="<%= data.imgUrl %>" alt="">
                </div>


                <div class="col-sm-7 col-md-6 col-lg-12">
                  <div class="post-aside">
                    <h5 class="post-aside-title">Publicidade</h5>
                    <div class="post-aside-content" style="height: 180px;">
                      
                    </div>
                  </div>
                </div>
               
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section Photo Gallery-->
      <section class="parallax-container section" data-parallax-img="images/bg-parallax-03-1894x1662.jpg" id="gallery">
        <div class="parallax-content section-lg context-dark text-center parallax-overlay-gradient-primary-1">
          <div class="container container-wide">
            <h6>Nossa galeria</h6>
            <h3>Galeria de fotos</h3>
            <div class="row row-ten row-narrow row-30 row-lg-50 justify-content-center" data-lightgallery="group">
              <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="wow">
                  <div>
                    <!-- Gallery Thumbnail--><a class="thumbnail" href="images/expo/Expositor-Parque Nacional da Gorongosa.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="images/expo/Expositor-Parque Nacional da Gorongosa.jpg" alt="" width="298" height="343"/></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="wow">
                  <div>
                    <!-- Gallery Thumbnail--><a class="thumbnail" href="images/expo/Expositor-Hotel Maputo.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="images/expo/Expositor-Hotel Maputo.jpg" alt="" width="298" height="343"/></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="wow">
                  <div>
                    <!-- Gallery Thumbnail--><a class="thumbnail" href="images/expo/Expositor-Southern Sun Maputo.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="images/expo/Expositor-Southern Sun Maputo.jpg" alt="" width="298" height="343"/></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="wow">
                  <div>
                    <!-- Gallery Thumbnail--><a class="thumbnail" href="images/expo/Expositor- reserva do Niassa.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="images/expo/Expositor- reserva do Niassa.jpg" alt="" width="298" height="343"/></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="wow">
                  <div>
                    <!-- Gallery Thumbnail--><a class="thumbnail" href="images/expo/Expositor-Ilha de ilha de benguerra.jpg" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="images/expo/Expositor-Ilha de ilha de benguerra.jpg" alt="" width="298" height="343"/></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <p class="font-weight-sbold font-secondary"><span>Não hesite, entre em contato conosco para melhor ajuda e serviços.</span> <a class="link-inline" href="/contact-exhibitor.html">contactar agora</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contact start  -->

      <!-- contact end -->
    <!-- Section Pre Footer-->
    <section class="section section-lg bg-gray-900">
        <div class="container">
          <div class="row row-30">
            <div class="col-xs-10 col-lg-4 align-self-center"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/logo-default.png" srcset="images/logo-default.png 2x" alt="Voelas"></a></div>
            <div class="col-xs-10 col-sm-6 col-lg-4">
              <h5><span class="big font-weight-sbold">DETALHES DO EVENTO</span></h5>
              <div class="event-detail">
                <p class="event-detail-time big">
                  <time data-splitting datetime="2019-01-05">Setembro 5 até 9, 2021</time>
                </p>
                <p class="event-detail-address big" data-splitting>Mocambique, maputo.</p><a class="event-detail-link" href="contact.html">Ver localização no mapa</a>
              </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-lg-4">
              <h5><span class="big font-weight-sbold">Redes sociais</span></h5>
              <div class="event-detail">
                <p class="big">Você pode se perguntar: por que esse evento é tão popular? <br class="d-none d-xl-block"> encontre mais informações sobre isso aqui.
                </p>
                <ul class="list-inline list-inline-xs">
                  <li data-wow-delay=".2s"><a class="icon icon-rect icon-xs icon-white fa-facebook" href="#" data-triangle=".icon-rect-overlay">
                      <div class="icon-rect-overlay"></div></a></li>
                  <li data-wow-delay=".35s"><a class="icon icon-rect icon-xs icon-white fa-twitter" href="#" data-triangle=".icon-rect-overlay">
                      <div class="icon-rect-overlay"></div></a></li>
                  <li data-wow-delay=".5s"><a class="icon icon-rect icon-xs icon-white fa-linkedin" href="#" data-triangle=".icon-rect-overlay">
                      <div class="icon-rect-overlay"></div></a></li>
                  <li data-wow-delay=".65s"><a class="icon icon-rect icon-xs icon-white fa-youtube-play" href="#" data-triangle=".icon-rect-overlay">
                      <div class="icon-rect-overlay"></div></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->
      <div class="divider divider-gray-900 text-center"></div>
      <!-- Footer Classic-->
      <footer class="section footer-classic context-dark">
        <div class="container">
          <p class="rights"><span>Copyright&nbsp;</span><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>by</span> <a href="#">Fikani</a>
          </p>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="block-with-svg-gradients">
      <svg xmlns="http://www.w3.org/2000/svg">
        <defs>
          <lineargradient id="svg-gradient-primary" x1="0%" y1="100%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(130,46,168);stop-opacity:1"></stop>
            <stop offset="100%" style="stop-color:rgb(217,14,144);stop-opacity:1"></stop>
          </lineargradient>
        </defs>
      </svg>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>