<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <title>Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Barlow%7CBarlow+Condensed:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
     <!-- Section Header Default-->
    
      <!-- Breadcrumbs-->
   
      <!-- Section Grid Gallery-->
      <section class="section section-lg bg-default text-center">
        <div class="container container-wide">
          <h4 class="font-weight-bold"> Galeria</h4>
          <div class="row row-ten row-narrow row-30 row-lg-50 justify-content-center" data-lightgallery="group">

            <% if(dataGallery.length > 0) { %>
              <% dataGallery.forEach(function(gallery) { %>
                <div class="col-sm-4 col-md-3 col-lg-2">
                  <!-- Gallery Thumbnail--><a class="thumbnail" href="<%= gallery.url %>" data-lightgallery="item" data-triangle=".thumbnail-overlay"><span class="thumbnail-overlay"></span><span class="thumbnail-icon"></span><img src="<%= gallery.url %>" alt="" width="298" height="343"/></a>
                </div>
              <% }) %>
            <% } else {%>


            <%}%>

           
          </div>
        </div>
      </section>
      <!-- Section Full Width Gallery-->
      
   <!-- Section Pre Footer-->
   
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>