<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html') %>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     <!-- Section Header Default-->
     <%- include('../partials/header.html') %>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Feira</a></li>
            <li class="active">Expositor</li>
          </ul>
          <h3 class="breadcrumbs-custom-title">Expositores</h3>
        </div>
      </section>
      <!-- Section Senior Speakers-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h4 class="font-weight-bold">Turismo</h4>
          <div class="row row-30">
            <div class="col-md-6 col-lg-4">
              <!-- Speaker-->
              <div class="speaker">
                <div class="speaker-img">
                   <div class="speaker-overlay"></div><a href="/exhibitor-page.html"><img src="images/expo/Expositor-Ilha de ilha de benguerra.jpg" alt="" width="330" height="354"/></a>
                 
                </div>
                <h5 class="speaker-title"><a href="/exhibitor-page.html">lha de ilha de benguerra</a></h5>
                <p class="speaker-position"></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Speaker-->
              <div class="speaker">
                <div class="speaker-img">
                   <div class="speaker-overlay"></div><a href="/exhibitor-page.html"><img src="images/expo/Expositor-Parque Nacional da Gorongosa.jpg" alt="" width="330" height="354"/></a>
                 
                </div>
                <h5 class="speaker-title"><a href="/exhibitor-page.html">Parque Nacional da Gorongosa</a></h5>
                <p class="speaker-position"> </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Speaker-->
              <div class="speaker">
                <div class="speaker-img">
                   <div class="speaker-overlay"></div><a href="/exhibitor-page.html"><img src="images/expo/Expositor- reserva do Niassa.jpg" alt="" width="330" height="354"/></a>
                </div>
                <h5 class="speaker-title"><a href="/exhibitor-page.html">Reserva do Niassa</a></h5>
                <p class="speaker-position"></p>
              </div>
            </div>
                 

          </div>
        </div>
      </section>
      <!-- Section All other speakers-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h4 class="font-weight-bold">Hotelaria</h4>
          <div class="row row-30">
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img"><a href="#"><img src="images/expo/Expositor-Radisson Blu Hotel.jpg" alt="" width="270" height="303"/></a>
                 
                </div>
                <h5 class="speaker-classic-title"><a href="#">Radisson Blu Hotel</a></h5>
                <p class="speaker-classic-position"></p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img"><a href="#"><img src="images/expo/Expositor-Hotel Maputo.jpg" alt="" width="270" height="303"/></a>
                
                </div>
                <h5 class="speaker-classic-title"><a href="#">Hotel Maputo</a></h5>
                <p class="speaker-classic-position"></p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img"><a href="#"><img src="images/expo/Expositor-Southern Sun Maputo.jpg" alt="" width="270" height="303"/></a>
                 
                </div>
                <h5 class="speaker-classic-title"><a href="#">Southern Sun Maputo</a></h5>
                <p class="speaker-classic-position"></p>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Speaker Classic-->
                <div class="speaker-classic">
                  <div class="speaker-classic-img"><a href="#"><img src="images/expo/Expositor-Melia.jpg" alt="" width="270" height="303"/></a>
                  
                  </div>
                  <h5 class="speaker-classic-title"><a href="#">Meliá Maputo</a></h5>
                  <p class="speaker-classic-position"></p>
                </div>
              </div>
            
          </div>
        </div>
      </section>
     <!-- Section Pre Footer-->
     <%- include('../partials/footer.html') %>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>