<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html') %>

  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     
      <!-- Section Who We are-->
      <section class="section section-lg bg-default">
        <div class="container">
            


          <div class="row row-30 justify-content-center">

            <div class="col-md-10 col-lg-6">
                  <img src="images/img-login.jpg" alt="" width="562" height="380"/>
            </div>
            <div class="col-md-10 col-lg-6">
              <h6>fikani digital</h6>
              <h3>Seja bem-vindo a fikani digital</h3>
              <br>

              <!-- form validation error -->
              <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
              <% } %>

              
              <!-- auth and database error -->      
              <% if(typeof error != 'undefined') { %>         
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
              <% } %>

              <form id="login" method="POST">
                <div class="contact_input_area">
                    <div class="row">
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="email" id="email"
                                    placeholder="Email">
                            </div>
                        </div>

                         <!-- Form Group -->
                         <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="password" class="form-control mb-30" name="password" id="password"
                                    placeholder="Password">
                            </div>
                        </div>

                  
                    </div>
                </div>
                <!-- Button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>

                
                <div class="row d-flex justify-content-center " style="margin: 2px;">
                  <p class="text-info">Não tens uma conta?</p>
                </div>

            </form>
          
             <button  class="btn btn-info btn-lg btn-block" onclick="location.href='/register';">CADASTRAR</button>

            </div>

          </div>
        </div>
      </section>
      

    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"  ></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  


    <script>
     
      const firebaseConfig = {
          apiKey: "AIzaSyBEJWJCm8OnSYYu2-VYqeRi03JprBcaUkg",
          authDomain: "fikani.firebaseapp.com",
          projectId: "fikani",
          storageBucket: "fikani.appspot.com",
          messagingSenderId: "146961453473",
          appId: "1:146961453473:web:7fec98e5503384f08c7be0",
        };

        firebase.initializeApp(firebaseConfig);
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        document
          .getElementById("login")
          .addEventListener("submit", (event) => {
            event.preventDefault();
            const login = event.target.email.value;
            const password = event.target.password.value;

            firebase
              .auth()
              .signInWithEmailAndPassword(login, password)
              .then(({ user }) => {
              
                return user.getIdToken().then((idToken) => {
                  return fetch("/sessionLogin", {
                    method: "POST",
                    headers: {
                      Accept: "application/json",
                      "Content-Type": "application/json",
                      "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                    },
                    body: JSON.stringify({ idToken }),
                  });
                });
              })
              .then(() => {
                console.log("error");
                return firebase.auth().signOut();
              })
              .then(() => {
                window.location.assign("/");
              })
              .catch((error) => {
                showError(error);
              })
            return false;
          });

          function showError(text) {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: text,
            })
          }

    </script>

  </body>
</html>