<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html') %>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     
      <!-- Section Who We are-->
      <section class="section section-lg bg-default">
        <div class="container">
            


          <div class="row row-30 justify-content-center">

            <div class="col-md-10 col-lg-6">
                  <img src="images/img-login.jpg" alt="" width="562" height="380"/>
            </div>
            <div class="col-md-10 col-lg-6">
              <h6>fikani digital</h6>
              <h3>Seja bem-vindo a fikani digital</h3>
              <br>

              <!-- form validation error -->
              <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
              <% } %>

              
              <!-- auth and database error -->      
              <% if(typeof error != 'undefined') { %>         
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
              <% } %>

              <form action="/login" method="POST">
                <div class="contact_input_area">
                    <div class="row">
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="email" id="email"
                                    placeholder="Email">
                            </div>
                        </div>

                         <!-- Form Group -->
                         <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="password" id="password"
                                    placeholder="Password">
                            </div>
                        </div>

                  
                    </div>
                </div>
                <!-- Button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>

                
                <div class="row d-flex justify-content-center " style="margin: 2px;">
                  <p class="text-info">Não tens uma conta?</p>
                </div>

            </form>

            
                 <!-- Button -->
                 <button  class="btn btn-info btn-lg btn-block" onclick="location.href='/register';">CADASTRAR</button>

              
              
            </div>


          </div>
        </div>
      </section>
      



    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>