<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <title>Cadastro do expositor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Barlow%7CBarlow+Condensed:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
     <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     
      <!-- Section Who We are-->
      <section class="section section-lg bg-default">
        <div class="container">       


          <div class="row row-30 justify-content-center">

            <div class="col-md-10 col-lg-6">
                <!-- <div class="img-separated"> -->
                    <img src="images/img-login.jpg" alt="" width="562" height="960"/>
                <!-- </div> -->
              </div>
            <div class="col-md-10 col-lg-6">
             

              <!-- form validation error -->
              <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
              <% } %>


              <!-- auth and database error -->      
              <% if(typeof error != 'undefined') { %>         
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
              <% } %>

              
              

            <form action="/register-exhibitor-second" method="POST"  enctype="multipart/form-data">

              <div class="form-group row">

              <div class="col-sm-12">
                <div class="input-group" >
                    <div class="input-group-prepend">
                        <img src="images/expo/noimg.png" class="input-group-text" style="height: 38px;" />
                    </div>
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="file" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="file">Foto de perfil</label>
                    </div>
                </div>
              </div>
             </div>

              <div class = "form-group">
                <textarea class="form-control" name="description" id="description" rows="10" required placeholder = "Descrição da instituição"></textarea>
             </div>

              <!-- Button -->
              <button type="submit" class="btn btn-primary btn-lg btn-block">Proximo</button>
            </form>


            </div>   
          </div>
        </div>
      </section>
      


    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" defer></script>

  


  </body>
</html>