<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
   <%- include('../partials/head.html') %>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     
      <!-- Section Who We are-->
      <section class="section section-lg bg-default">
        <div class="container">

          <div class="row row-30 justify-content-center">

            <div class="col-md-10 col-lg-6">
                <!-- <div class="img-separated"> -->
                    <iframe width="562" height="540" src="https://www.youtube.com/embed/WVi7gR3-_V8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- </div> -->
              </div>
            <div class="col-md-10 col-lg-6">
              <h6>fikani digital</h6>
              <h3>Seja bem-vindo a fikani digital</h3>
              <br>


              <!-- form validation error -->
              <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
              <% } %>


              <!-- auth and database error -->      
              <% if(typeof error != 'undefined') { %>         
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
              <% } %>
                  
                  
                         
              <form id="registerForm" method="POST">
                <div class="contact_input_area">
                    <div class="row">
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="name" id="name"
                                    placeholder="Nome" required>
                            </div>
                        </div>

                         <!-- Form Group -->
                         <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="last_name" id="last_name"
                                    placeholder="Apelido" required>
                            </div>
                        </div>

                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30 textbox-n"
                                    onfocus="(this.type='date')" name="date_of_birth" id="date_of_birth"
                                    placeholder="Data de nascimento" required>
                            </div>
                        </div>

                        
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="residence"
                                    id="residence" placeholder="Residência" required>
                            </div>
                        </div>



                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="contact"
                                    id="contact" placeholder="Contacto" required>
                            </div>
                        </div>


                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control mb-30" name="email" id="email"
                                    placeholder="E-mail" required>
                            </div>
                        </div>
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="password" class="form-control mb-30" name="password"
                                    id="password" placeholder="Password" required>
                            </div>
                        </div>

                         <!-- Form Group -->
                         <div class="col-12 col-lg-6">
                          <div class="form-group">
                              <input type="password" class="form-control mb-30" name="confirme-password"
                                  id="confirme-password" placeholder="Confirmar password" required>
                          </div>
                      </div>
                      
                    </div>
                </div>
                <!-- Button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
               

            </form>
            
            <div class="row d-flex justify-content-center " style="margin: 2px;">
              <p class="text-info">Ja tens uma conta?</p>
            </div>
          <!-- Button -->
           <button  class="btn btn-info btn-lg btn-block" onclick="location.href='/login';">Login</button>

              
              
             
                <!-- <li>
                  <div class="unit">
                    <div class="unit-left">
                      <div class="icon-rect icon-rect-secodanry" data-triangle=".icon-rect-overlay">
                        <div class="icon-rect-overlay"></div>
                        <svg class="svg-icon-sm-1" role="img">
                          <use xlink:href="images/svg/sprite.svg#tick"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="unit-body">
                      <h5>The biggest conference for all types of<br> businesses.
                      </h5>
                    </div>
                  </div>
                </li> -->
              </ul>
            </div>

           

          </div>
        </div>
      </section>
      





     
      <footer class="section footer-classic context-dark">
        <div class="container">
          <p class="rights"><span>Copyright&nbsp;</span><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>by</span> <a href="">Fikani</a>
          </p>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="block-with-svg-gradients">
      <svg xmlns="http://www.w3.org/2000/svg">
        <defs>
          <lineargradient id="svg-gradient-primary" x1="0%" y1="100%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(130,46,168);stop-opacity:1"></stop>
            <stop offset="100%" style="stop-color:rgb(217,14,144);stop-opacity:1"></stop>
          </lineargradient>
        </defs>
      </svg>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- custom lib popup -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>


    <script>

        var firebaseConfig = {
            apiKey: "AIzaSyBEJWJCm8OnSYYu2-VYqeRi03JprBcaUkg",
            authDomain: "fikani.firebaseapp.com",
            projectId: "fikani",
            storageBucket: "fikani.appspot.com",
            messagingSenderId: "146961453473",
            appId: "1:146961453473:web:7fec98e5503384f08c7be0",
        };

        firebase.initializeApp(firebaseConfig);

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        document.getElementById("registerForm")
                .addEventListener("submit" , (event) => {
                  event.preventDefault();
                  progress();
                  const name = event.target.name.value;
                  const last_name = event.target.last_name.value;
                  const residence = event.target.residence.value;
                  const email = event.target.email.value;
                  const contact = event.target.contact.value;
                  const password = event.target.password.value;
                  const displayName = name.trim() +" "+last_name.trim();
                  const urlphoto = "";

                  firebase
                    .auth()
                    .createUserWithEmailAndPassword(email, password)
                    .then(({ user }) => {
                      return user.getIdToken().then((idToken) => {
                        return fetch("/sessionLogin", {
                          method: "POST",
                          headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json",
                            "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                          },
                          body: JSON.stringify({ idToken}),
                        });
                      });
                    })
                    .then(() => {
                      return firebase.auth().signOut();
                    })
                    .then(() => {

                      let data = {
                        name: name,
                        last_name: last_name,
                        residence: residence,
                        email: email,
                        contact: contact,
                        displayName : displayName,
                        urlphoto : ""
                      };

                      fetch("/register", {
                          method: "POST",
                          headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json",
                            "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                          },
                          body: JSON.stringify(data),
                      });
                          
                    });
                  return false;
                });


                function progress() {
                  let timerInterval
                  Swal.fire({
                    title: 'Cadastrando!',
                    html: '',
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: () => {
                      Swal.showLoading()
                      timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                          // const b = content.querySelector('b')
                          // if (b) {
                          //   b.textContent = Swal.getTimerLeft()
                          // }
                        }
                      }, 100)
                    },
                    willClose: () => {
                      clearInterval(timerInterval)
                    }
                  }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                      console.log('I was closed by the timer')
                    }
                  })
                }
    </script>
  </body>
</html>