<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <title>Cadastro do expositor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Barlow%7CBarlow+Condensed:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
     <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     
      <!-- Section Who We are-->
      <section class="section section-lg bg-default">
        <div class="container">       


          <div class="row row-30 justify-content-center">

            <div class="col-md-10 col-lg-6">
                <!-- <div class="img-separated"> -->
                    <img src="images/img-login.jpg" alt="" width="562" height="960"/>
                <!-- </div> -->
              </div>
            <div class="col-md-10 col-lg-6">
              <h6>fikani digital</h6>
              <h3>Cadastro do Expositor</h3>
              <br>


                       
              <!-- form validation error -->
              <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
              <% } %>


              <!-- auth and database error -->      
              <% if(typeof error != 'undefined') { %>         
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
              <% } %>
                  


              <form action="/register-exhibitor" method="POST">
                <div class="contact_input_area">
                    <div class="row">
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="name" id="name"
                                    placeholder="Nome da instituição">
                            </div>
                        </div>

                         <!-- Form Group -->
                         <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="location" id="location"
                                    placeholder="localização">
                            </div>
                        </div>

                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="contact" id="contact"
                                    placeholder="Contacto">
                            </div>
                        </div>

                        
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="website"
                                    id="website" placeholder="Website">
                            </div>
                        </div>

                        

                      
                            
                        <!-- Form Group -->
                        <div class="col-12 col-lg-12">
                            <div class="form-group" style="height: 80px;">
                              <select class="form-control mb-30" name="category" id="category">
                                <option selected>Categoria</option>
                                <option value="1">Turismo</option>
                                <option value="2">Hotelaria</option>
                              </select>
                            </div>
                        </div>
                        
                        
                           
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                          <div class="form-group">
                              <input type="text" class="form-control mb-30" name="verfication_code"
                                  id="verfication_code" placeholder="Codigo de verificação">
                          </div>
                        </div>


                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="email"
                                    id="email" placeholder="Email">
                            </div>
                        </div>

                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="password" class="form-control mb-30" name="password" id="password"
                                    placeholder="Password">
                            </div>
                        </div>     

                       
                    </div>
                </div>
                <!-- Button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Proximo</button>

            </form>
        
            </div>   
          </div>
        </div>
      </section>
      



    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase.js"></script>

    <script>


   


      
    firebase.auth().createUserWithEmailAndPassword(email, password )
    .then(function(data){
        userId = data.user.uid;
    
        create(userId ,name , email ,  password , imageUrl ,  contact ,  genre , date_of_birth , category , residence , school);
        
        //Here if you want you can sign in the user
        }).catch(function(error) {
            alert(""+error);
        //Handle error
     });

    </script>


  </body>
</html>