<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <title>Cadatro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Barlow%7CBarlow+Condensed:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
     
      <!-- Section Who We are-->
      <section class="section section-lg bg-default">
        <div class="container">


            


          <div class="row row-30 justify-content-center">

            <div class="col-md-10 col-lg-6">
                <!-- <div class="img-separated"> -->
                    <iframe width="562" height="540" src="https://www.youtube.com/embed/WVi7gR3-_V8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- </div> -->
              </div>
            <div class="col-md-10 col-lg-6">
              <h6>fikani digital</h6>
              <h3>Seja bem-vindo a fikani digital</h3>
              <br>


              <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #f8d7da; color:#721c24;">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
            <% } %>
                  
                  

              
              <form action="/register" method="POST">
                <div class="contact_input_area">
                    <div class="row">
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="name" id="name"
                                    placeholder="Nome" required>
                            </div>
                        </div>

                         <!-- Form Group -->
                         <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="last_name" id="last_name"
                                    placeholder="Apelido">
                            </div>
                        </div>

                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30 textbox-n"
                                    onfocus="(this.type='date')" name="date_of_birth" id="date_of_birth"
                                    placeholder="Data de nascimento">
                            </div>
                        </div>

                        
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="residence"
                                    id="residence" placeholder="Residência">
                            </div>
                        </div>



                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mb-30" name="contact"
                                    id="contact" placeholder="Contacto">
                            </div>
                        </div>


                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control mb-30" name="email" id="email"
                                    placeholder="E-mail">
                            </div>
                        </div>
                        <!-- Form Group -->
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <input type="password" class="form-control mb-30" name="password"
                                    id="password" placeholder="Password">
                            </div>
                        </div>

                         <!-- Form Group -->
                         <div class="col-12 col-lg-6">
                          <div class="form-group">
                              <input type="password" class="form-control mb-30" name="password"
                                  id="password" placeholder="Confirmar password">
                          </div>
                      </div>
                      
                    </div>
                </div>
                <!-- Button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
               

            </form>
            
            <div class="row d-flex justify-content-center " style="margin: 2px;">
              <p class="text-info">Ja tens uma conta?</p>
            </div>
          <!-- Button -->
           <button  class="btn btn-info btn-lg btn-block" onclick="location.href='/register';">Login</button>

              
              
             
                <!-- <li>
                  <div class="unit">
                    <div class="unit-left">
                      <div class="icon-rect icon-rect-secodanry" data-triangle=".icon-rect-overlay">
                        <div class="icon-rect-overlay"></div>
                        <svg class="svg-icon-sm-1" role="img">
                          <use xlink:href="images/svg/sprite.svg#tick"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="unit-body">
                      <h5>The biggest conference for all types of<br> businesses.
                      </h5>
                    </div>
                  </div>
                </li> -->
              </ul>
            </div>

           

          </div>
        </div>
      </section>
      





     
      <footer class="section footer-classic context-dark">
        <div class="container">
          <p class="rights"><span>Copyright&nbsp;</span><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>by</span> <a href="">Fikani</a>
          </p>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="block-with-svg-gradients">
      <svg xmlns="http://www.w3.org/2000/svg">
        <defs>
          <lineargradient id="svg-gradient-primary" x1="0%" y1="100%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(130,46,168);stop-opacity:1"></stop>
            <stop offset="100%" style="stop-color:rgb(217,14,144);stop-opacity:1"></stop>
          </lineargradient>
        </defs>
      </svg>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    <script>
        var btn = document.findViewById("login");
    </script>
  </body>
</html>