<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
  <%- include("../partials/head.html")%> 
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
      <!-- Section Header Default-->
      <%- include("../partials/header.html")%> 
      
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Agenda</li>
          </ul>
          <h3 class="breadcrumbs-custom-title">Agenda</h3>
        </div>
      </section>
      <!-- Section Schedule-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
            <!--Nav tabs-->
            <ul class="nav nav-tabs">
              <li class="nav-item" role="presentation"><a class="nav-link nav-link nav-link-secondary-darker" href="#tabs-1-1" data-toggle="tab" data-triangle=".nav-link-overlay"><span class="nav-link-overlay"></span><span class="nav-link-cite">Primeiro Dia</span><span class="nav-link-title">Setembro 5, 2021</span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link nav-link-purple-heart" href="#tabs-1-2" data-toggle="tab" data-triangle=".nav-link-overlay"><span class="nav-link-overlay"></span><span class="nav-link-cite">Second Day</span><span class="nav-link-title">Setembro 6, 2021</span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link nav-link-primary" href="#tabs-1-3" data-toggle="tab" data-triangle=".nav-link-overlay"><span class="nav-link-overlay"></span><span class="nav-link-cite">Third Day</span><span class="nav-link-title">Setembro 8, 2021</span></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link nav-link-secodanry" href="#tabs-1-4" data-toggle="tab" data-triangle=".nav-link-overlay"><span class="nav-link-overlay"></span><span class="nav-link-cite">Fourth Day</span><span class="nav-link-title">Setembro 9, 2021</span></a></li>
            </ul>
            <!--Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fade" id="tabs-1-1">
                <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion1-card-head-hvrdmanx" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-trkolmxj" aria-controls="accordion1-card-body-trkolmxj" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-01-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">9:00 até  10:00h</span><span class="schedule-classic-title heading-4">Introdução à Conferência Digital 2021</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Jessica Brown</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion1-card-body-trkolmxj" aria-labelledpor="accordion1-card-head-hvrdmanx" data-parent="#accordion1" role="tabpanel">
                      <div class="card-body">
                        <p>Ubi est nobilis cobaltum? Domesticus capios ducunt ad demissio. Torquiss favere, tanquam bassus glos. Vae, hippotoxota! Superbus, mirabilis poetas vix aperto de teres, germanus amicitia. Vae. Fortis nixs ducunt ad acipenser. A falsis, musa nobilis gabalium. Cum decor ire, omnes fraticinidaes.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion1-card-head-svreblan" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-tfxtpbsw" aria-controls="accordion1-card-body-tfxtpbsw" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-02-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">10:00 até  11:00h</span><span class="schedule-classic-title heading-4">Turismo em Moçambique</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Mike Hardson</span> -  Lead Developer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion1-card-body-tfxtpbsw" aria-labelledpor="accordion1-card-head-svreblan" data-parent="#accordion1" role="tabpanel">
                      <div class="card-body">
                        <p>Est emeritis epos, cesaris. Competition de brevis zelus, imperium solem! porssus prareres, tanquam dexter glos. Eheu, habena! Lotus monss ducunt ad idoleum. Castus fluctuss ducunt ad mineralis. A falsis, magister castus ignigena. Demolitiones cadunt in fortis avenio! Audax, raptus exsuls superbe.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion1-card-head-ipxejyky" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-bkdiuyjp" aria-controls="accordion1-card-body-bkdiuyjp" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-03-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 até  12:00h </span><span class="schedule-classic-title heading-4">Turismo e viagem para Moçambique</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Manager</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion1-card-body-bkdiuyjp" aria-labelledpor="accordion1-card-head-ipxejyky" data-parent="#accordion1" role="tabpanel">
                      <div class="card-body">
                        <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, por injected humour or randomised words which don't look even slightly believable. If you are going to use a passage randomised words which don't look even slightly believable.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Schedule Simple-->
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion1-card-head-vrlgurkk" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-sltypcwy" aria-controls="accordion1-card-body-sltypcwy" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-04-58x58.jpg" alt="" width="58" height="58"/></span><span class="schedule-classic-img"><img src="images/schedule-05-58x58.jpg" alt="" width="58" height="58"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 até 12:00 </span><span class="schedule-classic-title heading-4">Conferência Digital 2021</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Kevin Martin</span> 
                                    - Supporter&nbsp;&nbsp;
                                    .&nbsp;&nbsp; <span class="schedule-classic-author-name">Sarah Rose</span> -  Designer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion1-card-body-sltypcwy" aria-labelledpor="accordion1-card-head-vrlgurkk" data-parent="#accordion1" role="tabpanel">
                      <div class="card-body">
                        <p>Fiscina domesticus lixa est. Cur vita mori? Triticum, heuretes, et nixus. Clabulare superbus abaculus est. Est lotus gemna, cesaris. Equisos mori! Uria moris, tanquam dexter cedrium. Hydras ridetis, tanquam bi-color saga. Pol, a bene tumultumque, castus nuptia! Noster, neuter stellas diligenter.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-1-2">
                <div class="card-group-custom card-group-corporate" id="accordion2" role="tablist" aria-multiselectable="false">
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion2-card-head-yvlphcuj" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-bassthxq" aria-controls="accordion2-card-body-bassthxq" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-03-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 até  12:00h</span><span class="schedule-classic-title heading-4">Discurso de encerramento</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Manager</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion2-card-body-bassthxq" aria-labelledpor="accordion2-card-head-yvlphcuj" data-parent="#accordion2" role="tabpanel">
                      <div class="card-body">
                        <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, por injected humour or randomised words which don't look even slightly believable. If you are going to use a passage randomised words which don't look even slightly believable.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion2-card-head-wmovjulp" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-qxhqkvuq" aria-controls="accordion2-card-body-qxhqkvuq" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-02-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">10:00 até  11:00h</span><span class="schedule-classic-title heading-4">Wordpress developement stages</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Mike Hardson</span> -  Lead Developer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion2-card-body-qxhqkvuq" aria-labelledpor="accordion2-card-head-wmovjulp" data-parent="#accordion2" role="tabpanel">
                      <div class="card-body">
                        <p>Est emeritis epos, cesaris. Competition de brevis zelus, imperium solem! porssus prareres, tanquam dexter glos. Eheu, habena! Lotus monss ducunt ad idoleum. Castus fluctuss ducunt ad mineralis. A falsis, magister castus ignigena. Demolitiones cadunt in fortis avenio! Audax, raptus exsuls superbe.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion2-card-head-vpasowkb" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-cxtpulmb" aria-controls="accordion2-card-body-cxtpulmb" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-01-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">9:00 até  10:00h</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Jessica Brown</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion2-card-body-cxtpulmb" aria-labelledpor="accordion2-card-head-vpasowkb" data-parent="#accordion2" role="tabpanel">
                      <div class="card-body">
                        <p>Ubi est nobilis cobaltum? Domesticus capios ducunt ad demissio. Torquiss favere, tanquam bassus glos. Vae, hippotoxota! Superbus, mirabilis poetas vix aperto de teres, germanus amicitia. Vae. Fortis nixs ducunt ad acipenser. A falsis, musa nobilis gabalium. Cum decor ire, omnes fraticinidaes.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Schedule Simple-->
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion2-card-head-cswofari" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-puprvxdp" aria-controls="accordion2-card-body-puprvxdp" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-04-58x58.jpg" alt="" width="58" height="58"/></span><span class="schedule-classic-img"><img src="images/schedule-05-58x58.jpg" alt="" width="58" height="58"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Kevin Martin</span> 
                                    - Supporter&nbsp;&nbsp;
                                    .&nbsp;&nbsp; <span class="schedule-classic-author-name">Sarah Rose</span> -  Designer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion2-card-body-puprvxdp" aria-labelledpor="accordion2-card-head-cswofari" data-parent="#accordion2" role="tabpanel">
                      <div class="card-body">
                        <p>Fiscina domesticus lixa est. Cur vita mori? Triticum, heuretes, et nixus. Clabulare superbus abaculus est. Est lotus gemna, cesaris. Equisos mori! Uria moris, tanquam dexter cedrium. Hydras ridetis, tanquam bi-color saga. Pol, a bene tumultumque, castus nuptia! Noster, neuter stellas diligenter.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-1-3">
                <div class="card-group-custom card-group-corporate" id="accordion3" role="tablist" aria-multiselectable="false">
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion3-card-head-lologbje" data-toggle="collapse" data-parent="#accordion3" href="#accordion3-card-body-cfvanvvv" aria-controls="accordion3-card-body-cfvanvvv" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-02-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">10:00 am to 11:00 am</span><span class="schedule-classic-title heading-4">Wordpress developement stages</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Mike Hardson</span> -  Lead Developer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion3-card-body-cfvanvvv" aria-labelledpor="accordion3-card-head-lologbje" data-parent="#accordion3" role="tabpanel">
                      <div class="card-body">
                        <p>Est emeritis epos, cesaris. Competition de brevis zelus, imperium solem! porssus prareres, tanquam dexter glos. Eheu, habena! Lotus monss ducunt ad idoleum. Castus fluctuss ducunt ad mineralis. A falsis, magister castus ignigena. Demolitiones cadunt in fortis avenio! Audax, raptus exsuls superbe.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion3-card-head-ovfiyifs" data-toggle="collapse" data-parent="#accordion3" href="#accordion3-card-body-nwdquqtu" aria-controls="accordion3-card-body-nwdquqtu" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-03-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Evolution of user interface in 2019</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Manager</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion3-card-body-nwdquqtu" aria-labelledpor="accordion3-card-head-ovfiyifs" data-parent="#accordion3" role="tabpanel">
                      <div class="card-body">
                        <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, por injected humour or randomised words which don't look even slightly believable. If you are going to use a passage randomised words which don't look even slightly believable.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion3-card-head-odsfunri" data-toggle="collapse" data-parent="#accordion3" href="#accordion3-card-body-rxjjlvmi" aria-controls="accordion3-card-body-rxjjlvmi" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-01-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">9:00 am to 10:00 am</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Jessica Brown</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion3-card-body-rxjjlvmi" aria-labelledpor="accordion3-card-head-odsfunri" data-parent="#accordion3" role="tabpanel">
                      <div class="card-body">
                        <p>Ubi est nobilis cobaltum? Domesticus capios ducunt ad demissio. Torquiss favere, tanquam bassus glos. Vae, hippotoxota! Superbus, mirabilis poetas vix aperto de teres, germanus amicitia. Vae. Fortis nixs ducunt ad acipenser. A falsis, musa nobilis gabalium. Cum decor ire, omnes fraticinidaes.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Schedule Simple-->
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion3-card-head-vlcebkjy" data-toggle="collapse" data-parent="#accordion3" href="#accordion3-card-body-imvwjrkg" aria-controls="accordion3-card-body-imvwjrkg" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-04-58x58.jpg" alt="" width="58" height="58"/></span><span class="schedule-classic-img"><img src="images/schedule-05-58x58.jpg" alt="" width="58" height="58"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Kevin Martin</span> 
                                    - Supporter&nbsp;&nbsp;
                                    .&nbsp;&nbsp; <span class="schedule-classic-author-name">Sarah Rose</span> -  Designer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion3-card-body-imvwjrkg" aria-labelledpor="accordion3-card-head-vlcebkjy" data-parent="#accordion3" role="tabpanel">
                      <div class="card-body">
                        <p>Fiscina domesticus lixa est. Cur vita mori? Triticum, heuretes, et nixus. Clabulare superbus abaculus est. Est lotus gemna, cesaris. Equisos mori! Uria moris, tanquam dexter cedrium. Hydras ridetis, tanquam bi-color saga. Pol, a bene tumultumque, castus nuptia! Noster, neuter stellas diligenter.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-1-4">
                <div class="card-group-custom card-group-corporate" id="accordion4" role="tablist" aria-multiselectable="false">
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion4-card-head-pjouyugs" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-febobtkg" aria-controls="accordion4-card-body-febobtkg" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-01-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">9:00 am to 10:00 am</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Jessica Brown</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion4-card-body-febobtkg" aria-labelledpor="accordion4-card-head-pjouyugs" data-parent="#accordion4" role="tabpanel">
                      <div class="card-body">
                        <p>Ubi est nobilis cobaltum? Domesticus capios ducunt ad demissio. Torquiss favere, tanquam bassus glos. Vae, hippotoxota! Superbus, mirabilis poetas vix aperto de teres, germanus amicitia. Vae. Fortis nixs ducunt ad acipenser. A falsis, musa nobilis gabalium. Cum decor ire, omnes fraticinidaes.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion4-card-head-dbefhxvb" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-wwoueixf" aria-controls="accordion4-card-body-wwoueixf" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-03-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Evolution of user interface in 2019</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Manager</span> -  Co Founder</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion4-card-body-wwoueixf" aria-labelledpor="accordion4-card-head-dbefhxvb" data-parent="#accordion4" role="tabpanel">
                      <div class="card-body">
                        <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, por injected humour or randomised words which don't look even slightly believable. If you are going to use a passage randomised words which don't look even slightly believable.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion4-card-head-kiythsuo" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-wrocqbhp" aria-controls="accordion4-card-body-wrocqbhp" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-02-122x122.jpg" alt="" width="122" height="122"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">10:00 am to 11:00 am</span><span class="schedule-classic-title heading-4">Wordpress developement stages</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Mike Hardson</span> -  Lead Developer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion4-card-body-wrocqbhp" aria-labelledpor="accordion4-card-head-kiythsuo" data-parent="#accordion4" role="tabpanel">
                      <div class="card-body">
                        <p>Est emeritis epos, cesaris. Competition de brevis zelus, imperium solem! porssus prareres, tanquam dexter glos. Eheu, habena! Lotus monss ducunt ad idoleum. Castus fluctuss ducunt ad mineralis. A falsis, magister castus ignigena. Demolitiones cadunt in fortis avenio! Audax, raptus exsuls superbe.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Schedule Simple-->
                  <!--Bootstrap card-->
                  <article class="card card-custom card-corporate">
                    <div class="card-header" role="tab">
                      <div class="card-title"><a class="collapsed" id="accordion4-card-head-rufyhcjx" data-toggle="collapse" data-parent="#accordion4" href="#accordion4-card-body-setufihd" aria-controls="accordion4-card-body-setufihd" aria-expanded="false" role="button"><span class="schedule-classic"><span class="unit unit-spacing-md align-items-center d-block d-md-flex"><span class="unit-left"><span class="schedule-classic-img"><img src="images/schedule-04-58x58.jpg" alt="" width="58" height="58"/></span><span class="schedule-classic-img"><img src="images/schedule-05-58x58.jpg" alt="" width="58" height="58"/></span></span><span class="unit-body"><span class="schedule-classic-content"><span class="schedule-classic-time">11:00 am to 12:00 pm</span><span class="schedule-classic-title heading-4">Digital Conference 2019 Introduction</span><span class="schedule-classic-author">por <span class="schedule-classic-author-name">Kevin Martin</span> 
                                    - Supporter&nbsp;&nbsp;
                                    .&nbsp;&nbsp; <span class="schedule-classic-author-name">Sarah Rose</span> -  Designer</span></span></span></span></span></a></div>
                    </div>
                    <div class="collapse" id="accordion4-card-body-setufihd" aria-labelledpor="accordion4-card-head-rufyhcjx" data-parent="#accordion4" role="tabpanel">
                      <div class="card-body">
                        <p>Fiscina domesticus lixa est. Cur vita mori? Triticum, heuretes, et nixus. Clabulare superbus abaculus est. Est lotus gemna, cesaris. Equisos mori! Uria moris, tanquam dexter cedrium. Hydras ridetis, tanquam bi-color saga. Pol, a bene tumultumque, castus nuptia! Noster, neuter stellas diligenter.</p>
                        <div class="unit unit-spacing-xxs">
                          <div class="unit-left">
                            <svg class="svg-icon-sm svg-icon-primary" role="img">
                              <use xlink:href="images/svg/sprite.svg#earth-globe"></use>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <h5>Aonde</h5>
                            <p class="font-secondary">Mocambique, Maputo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     <!-- Section Pre Footer-->
     <%- include("../partials/footer.html")%> 
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>