<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <%- include('../partials/head.html'); %>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
       <!-- Section Header Default-->
       <%- include('../partials/header.html'); %>
      
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li>Feira</li>
            <li class="active">Webinares</li>
          </ul>
          <h3 class="breadcrumbs-custom-title">Webinares</h3>
        </div>
      </section>
      <!-- Section Senior Speakers-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h4 class="font-weight-bold">Categoria aqui Lorem ipsum</h4>
          <div class="row row-30">
            <div class="col-md-6 col-lg-4">
              <!-- Speaker-->
              <div class="speaker">
                <div class="speaker-img" >
                    <iframe width="330" height="354" src="https://www.youtube.com/embed/L8y6SdxgfUo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h5 class="speaker-title"><a href="/exhibitor-page.html">Lorem ipsum dolor sit amet</a></h5>
                <p class="speaker-position"></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Speaker-->
              <div class="speaker">
                <div class="speaker-img">
                    <iframe width="330" height="354" src="https://www.youtube.com/embed/zIwLWfaAg-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h5 class="speaker-title"><a href="/exhibitor-page.html">Sed ut perspiciatis unde omnis</a></h5>
                <p class="speaker-position"> </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Speaker-->
              <div class="speaker">
                <div class="speaker-img">
                    <iframe width="330" height="354" src="https://www.youtube.com/embed/5MgBikgcWnY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h5 class="speaker-title"><a href="/exhibitor-page.html">At vero eos et accusamus et iusto</a></h5>
                <p class="speaker-position"></p>
              </div>
            </div>
                 

          </div>
        </div>
      </section>
      <!-- Section All other speakers-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h4 class="font-weight-bold">Categoria aqui Lorem ipsum</h4>
          <div class="row row-30">
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img">      
                    <iframe width="270" height="303" src="https://www.youtube.com/embed/4mxXdCUXSSs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             
                </div>
                <h5 class="speaker-classic-title"><a href="#"> voluptatum deleniti</a></h5>
                <p class="speaker-classic-position"></p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img">
                    <iframe width="270" height="303" src="https://www.youtube.com/embed/8yBfAeadqjI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                
                </div>
                <h5 class="speaker-classic-title"><a href="#">Lorem ipsum dolor sit</a></h5>
                <p class="speaker-classic-position"></p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Speaker Classic-->
              <div class="speaker-classic">
                <div class="speaker-classic-img">
                    <iframe width="270" height="303" src="https://www.youtube.com/embed/44J3FGYKltI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          
                </div>
                <h5 class="speaker-classic-title"><a href="#">Cras sed massa at sem </a></h5>
                <p class="speaker-classic-position"></p>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Speaker Classic-->
                <div class="speaker-classic">
                  <div class="speaker-classic-img">
                    <iframe width="270" height="303" src="https://www.youtube.com/embed/MY5SatbZMAo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <h5 class="speaker-classic-title"><a href="#">Nullam vel massa odio</a></h5>
                  <p class="speaker-classic-position"></p>
                </div>
              </div>                         
          </div>
        </div>
      </section>
      <!-- Section Pre Footer-->
    <%- include('../partials/footer.html') %>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>