<header class="section page-header">
  <!--RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="76px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
      <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <!--RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!--RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!--RD Navbar Brand-->
            <div class="rd-navbar-brand">
              <!--Brand--><a class="brand" href="/"><img class="brand-logo-dark" src="images/logo-default.png" srcset="images/logo-default@2x.png 2x" alt="Voelas"/><img class="brand-logo-light" src="images/logo-default.png" srcset="images/logo-inverse@2x.png 2x" alt="Voelas"/></a>
            </div>
          </div>
          <!-- Rd Navbar Navigation-->
          <div class="rd-navbar-main-element">
            <div class="rd-navbar-nav-wrap">
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                 
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="#">Paginas</a>
                  <ul class="rd-menu rd-navbar-megamenu">
                    <li class="rd-megamenu-item">
                      <ul class="rd-megamenu-list">
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about.html">Sobre</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing.html">Pricing</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="become-a-sponsor.html">Become a sponsor</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="sponsors.html">Sponsors</a></li>
                      </ul>
                    </li>
                    <li class="rd-megamenu-item">
                      <ul class="rd-megamenu-list">
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                      </ul>
                    </li>
                    <li class="rd-megamenu-item">
                      <ul class="rd-megamenu-list">
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503.html">503</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="under-construction.html">Under Construction</a></li>
                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/info">Informações</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/schedule">Agenda</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/confer">Feira</a>
                  <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/exhibitor">Exposição</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/confer-live">Conferência</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/webinar">Webinares</a>

                  </ul>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- RD Navbar Collapse-->
          <div class="rd-navbar-collapse"><a class="button button-primary" href="#" ><span>Minha conta</span><span ></span></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>